
body{
    background: black;
}

.fecha{
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;

}

.hora{
    font-family: 'Londrina Outline', cursive;
    font-size: 3em;
    color: #fff;
    letter-spacing: 0.15em;
}

.pink {
    text-shadow: 
        0 0 5px #FF7BAC,
        0 0 10px #FF7BAC,
        0 0 20px #FF7BAC,
        0 0 40px #FF7BAC,
        0 0 80px #FF7BAC,
        0 0 90px #FF7BAC,
        0 0 100px #FF7BAC,
        0 0 150px #FF7BAC;
}

@media all and (max-width: 1025px){
    .container{
        margin-top: 45% !important;
    }
    .fecha{
        font-size: 1.8em;
    }
    .hora{
        font-size: 3em;
    }
}
@media all and (max-width: 1020px){
    .fecha{
        font-size: 1.5em;
    }
    .hora{
        font-size: 2.4em;
    }
}
@media all and (max-width: 700px){
    .fecha{
        font-size: 0.9em;
    }
    .hora{
        font-size: 1.8em;
    }
}

@media all and (max-width: 501px){
    .fecha{
        font-size: 0.5em;
    }
    .hora{
        font-size: 1em;
    }
}